<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<commands>
 <command>
  <type>move</type>
  <x>1</x>
  <y>1</y>
 </command>
 <command>
  <type>import</type>
  <file>CommandFile2.txt</file>
 </command>
 <command>
  <type>turn</type>
  <direction>WEST</direction>
 </command>
 <command>
  <type>move</type>
  <x>3</x>
  <y>1</y>
 </command>
</commands>